/* Estilos de los botones */

.btn {
	border-radius: 5px !important;

	&-primary {
		background-color: #FF9C29 !important;
		border-color: #FF9C29 !important;

		&:hover {
			background-color: #FF7A00 !important;
			border-color: #FF7A00 !important;			
		}
	}
}
