#dashboard {
  .bottomBorder {
    border-bottom:1px solid;
  }
  .day {
    width: 14%!important;
  }
  .today {
    color: #FC9326;
    font-weight: 900;
  }
  // estilos de los cards
  .manual {
    padding: 10px 15px;
    margin: 12px;
    border-radius: 10px;
    text-align: initial;
    position: relative;
    opacity: 0.45;
  }
  .manual-today {
    opacity: 1;
  }
  .normal {
    cursor: pointer;
    background-color: #F2F2F2;
    color: #252525;
  }
  .finished {
    background-color: #FD9326;
    color: white;
    cursor: default;
  }
  .review {
    cursor: pointer;
    background-color: #C5F5FF;
    color: #252525;
  }
  .finished-review {
    background-color: #1CA4FC;
    color: white;
    cursor: default;
  }
  .finished-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .text-overflow {
    text-overflow: clip;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: Montserrat;
  }
  .text-subtopic {
    font-size: 11px;
    font-family: Montserrat;
  }
}
