#dashboard {
  display: grid;
  grid-template-columns: 3fr minmax(340px, 1fr);
  grid-auto-rows: 3fr 2fr;
  grid-template-areas: 
    "main notifications"
    "main simulators";
  .general-container {
    grid-area: main;
    overflow-y: auto;
  }
  .notifications-container {
    grid-area: notifications;
    overflow-y: auto;
  }
  .simulators-container {
    grid-area: simulators;
    overflow-y: auto;
  }

}
