#dashboard {
  * {
    font-family: 'Avenir', sans-serif;
  }
  .day-header {
    font-size: 17px;
  }
  // estilos de los cards
  .manual {
    border-radius: 2px;
    opacity: 0.45;
  }
  .manual-today {
    opacity: 1;
  }
  .normal {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #979797;
    color: #252525;
    min-height: 50px;
  }
  .finished {
    background-color: #FFB63F;
    border: 1px solid #DB7500;
    cursor: default;
  }
  .review {
    cursor: pointer;
    background-color: #D9FAFE;
    border: 1px solid #8EE3FB;
  }
  .finished-review {
    background-color: #43B6F4;
    border: 1px solid #216CAF;
    cursor: default;
  }
  .finished-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .text-overflow {
    text-overflow: clip;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-bottom: 2px;
    line-height: 12px;
    font-size: 12px;
  }
  .text-subtopic {
    font-size: 10px;
  }
  .quote {
    font-weight: 500;
    font-size: 20px;
    max-width: 900px;
  }
  .author {
    font-weight: bold;
  }
}
