#diagnostic_test{
  font-family: 'Avenir', sans-serif;
  .navbarBg{
    border-bottom: 1px solid black;
  }
  .finishManualBtn{
      width:350px;
      height:35px;
      background-color: #20B000;
      border: none;
      border-radius: 10px;
  }
  .btnColorChange{
      height:50px;
      width: 50px;
      border-radius: 50%;
      border:3px solid #5F5F5F;
  }
  .btnLetterChange{
      height:50px;
      width: 50px;
      background-color: #5F5F5F;
      border-radius: 50%;
      font-size: 25px;
  }
  #container{
    max-width: 100vw !important;
    padding: 0px;
    height: calc(100vh - 50px - 1rem - 10px) !important; /* 50px => btnColor, 1rem=>padding nav, 1px => extra */
  }
  #question{
    padding-right: 8.333%;
    padding-left: 8.333%
  }
  #question .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: darkorange;  /* orange */
    border-width: 2px;
    border-radius: 50%;
  }
  .scroll{
    overflow-y: scroll;
    height: 100%;
  }
  .center{
    margin-right: auto;
    margin-left: auto;
  }
  .disabled{
    cursor: auto !important;
    opacity: 30%;
  }
  .darkorange{
    color: darkorange;
    font-weight: bold;
  }
  .title-question{
    border-left: thin solid darkorange;
    font-size: 1.5rem !important;
    padding: 0.2em 0.5em;
  }
  .radio{
    border: 3px solid;
    border-radius: 50px;
    width: 15px;
    height: 15px;
  }
  .quest-rd{
    height: 3rem;
    border-bottom: 2px solid;
  }
  .light #questions{
    background-color: #F0F0F0;
    color: darkorange;
    font-weight: bold;
  }
  .sepia #questions{
    background-color: #FCEAD2;
    color: #4A4A4A;
  }
  .dark #questions{
    background-color: #4A4A4A;
    color: black;
  }
  .light .quest-rd{
    border-color: white;
  }
  .sepia .quest-rd{
    border-color: white;
  }
  .dark .quest-rd{
    border-color: black;
  }
  .light #questions .selected-quest{
    background-color: white;
  }
  .sepia #questions .selected-quest{
    background-color: #FDF1E1;
  }
  .dark #questions .selected-quest{
    background-color: black;
    color: white;
    border-color: black;
  }
  .selected-quest .radio{
    background-color: darkorange;
  }
  .dark .selected-quest .radio{
    border-color: darkorange;
  }
  .fill-circle{
    background-color: darkorange;
  }
  .dark .fill-circle{
    border-color: darkorange;
  }
  .flag{
    height: 100%;
    width: 25px;
  }
}
  