@font-face {
  font-family: Avenir;
  src: url("https://spotlightmed.s3-us-west-2.amazonaws.com/fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('./../fonts/helvetica-neue-light.ttf');
}
/* Original
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./../fonts/HelveticaNeue.ttf');
}
*/
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./../fonts/Helvetica.ttf');
}
@font-face {
  font-family: Helvetica;
  src: url('./../fonts/Helvetica.ttf');
}
.only-pc {
  display: none;
}
.only-small-device {
  display: block;
}
@media (min-width: 1200px) {
  .only-pc {
    display: block;
  }
  .only-small-device {
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}
@media print {
    html, body {
       display: none;  /* hide whole page */
    }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1200px !important;
  }
}
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
}

/* width */
*:hover::-webkit-scrollbar-track,
*:hover::-webkit-scrollbar-thumb {
  background: #00000011;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

p {
  margin: 0px;
}

#nav {
  padding: 30px;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
.pointer{
  cursor: pointer;
}
.orange{
  color: #FD9326;
  font-weight: bold;
}
/* .ql-toolbar {
  border: none !important;
  border-bottom: 1px solid #000!important;
}
.ql-formats {
  margin-right: 0px!important;
}
.ql-container {
  border: none!important;
}
.o-hide {
  opacity: 1!important;
}
.ql-picker-options {
   top: -110%!important;
   width: 75px!important;
}
.ql-editor p {
  margin-top: 2px;
} */

#case-index {
  margin-left: 150px;
  margin-right: 150px;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 40px;
}

.custom-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.239922);
  padding: 40px;
  border-radius: 0px;
}
input::placeholder {
  color: #d4d4d1 !important
}