/* Estilos para la navegación del sidebar */

#student-sidebar {
  .nav-item-tooltip {
    position: relative;
    margin-top: 25px;

    .nav-icon {
      fill: black;
    }

    &-text {
      visibility: hidden;
      opacity: 0;
      white-space: nowrap;
      padding: 6px 12px;
      color: white;
      background-color: #BBBBB3;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.239922);
      transition: visibility 0s, opacity 0.3s linear;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      left: 100%;
    }

    &:hover {
      .nav-item-tooltip-text {
        visibility: visible;
        opacity: 1;
      }

      .nav-icon, .nav-icon * {
        fill: #FF9300;
        transition: fill 0.7s;
      }
    }

    .nuxt-link-exact-active {
      .nav-icon, .nav-icon * {
        fill: #FF9300;
        transition: fill 0.7s;
      }      
    }
  }
}
