#settings {
  .title{
    font-size:30px;
    border-bottom:1px solid;
  }
  .inputForm{
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
  }

  .lblInfo{
    display: flex;
    text-align: start;
  }
  .boxInfo{
    border: solid 2px black;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  }
}
