#simulator {
	height: 88.4vh;

	.red-theme {
		background-color: #941100;
		color: white;
	}
	.inv-red-theme {
		background-color: white;
		color: #941100;	
	}

	.content {
		width: 100%;
		height: 100%;
		display: flex;
    	flex-direction: column;
	}
	.btn-sec {
		background: #FFFFFF;
		border-radius: 6px;
		border: 1px solid #000000;
		box-sizing: border-box;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		font-size: 18px;
		padding: 11px 58px;
		&:hover {
			background-color: #c4c4c4;
		}
	}

	#block-message {
		width: 90%;
		.title,
		.message {
			border-radius: 6px;
			text-align: center;
			width: 100%;
		}
		.title {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 17px;
			padding: 17px 0px;
		}
		.message {
			border: 1px solid #941100;
			box-sizing: border-box;
			font-size: 12px;
			line-height: 14,06px;
			margin-bottom: 20px;
			padding: 17px 170px;
		}
		.btn {
			border-radius: 6px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			display: block;
			font-size: 18px;
			font-weight: bold;
			margin: 0 auto;
			width: 400px;
			&:hover {
				background-color: #540100;
			}
		}
	}

}