#simulator {
	height: 88.4vh; /* cambiar esto por alguna mediaquery */

	.red-theme {
		background-color: #941100;
		color: white;
	}
	.inv-red-theme {
		background-color: white;
		color: #941100;	
	}

	.content {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column;
		margin: 0px;
	}
	.btn-sec {
		background: #FFFFFF;
		border-radius: 6px;
		border: 1px solid #000000;
		box-sizing: border-box;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		font-size: 18px;
		padding: 11px 58px;
		&:hover {
			background-color: #c4c4c4;
		}
	}

	#block-message {
		width: 90%;
		.title,
		.message {
			border-radius: 6px;
			text-align: center;
			width: 100%;
		}
		.title {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 17px;
			padding: 17px 0px;
		}
		.message {
			border: 1px solid #941100;
			box-sizing: border-box;
			font-size: 12px;
			line-height: 14,06px;
			margin-bottom: 20px;
			padding: 17px 170px;
		}
		.btn {
			border-radius: 6px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			display: block;
			font-size: 18px;
			font-weight: bold;
			margin: 0 auto;
			width: 400px;
			&:hover {
				background-color: #540100;
			}
		}
	}

	#test-simulator {
		display: flex;
		height: 100%;
		width: 100%;

		.questions-container {
			padding: 30px 23px 0px 93px; //63
			width: 70%;
			p {
				font-size: 18px !important;
			}
			.btn-sec {
				display: block;
				padding: 6px 40px;
			}
			.title {
				color: #941100;
				font-size: 24px;
				font-weight: 700;
			}
			.test-cases {
				height: 85%;
				overflow-y: auto;
				padding-right: 40px;
				.retro-content {
					width: 100%;
					overflow-x: auto;
					margin-top: 26px;
					padding-top: 26px;
					border-top: 1px solid lightgray;
				}
				.test-question {
					border-bottom: 1px solid black;
					margin-bottom: 32px;
					padding-bottom: 32px;
					.selected-answer {
						text-decoration: underline;
						color: #941100;
						font-weight: 700;
					}
					.correct-answer {
						font-weight: 700;
						color: green;
					}
					.wrong-answer {
						font-weight: 700;
						color: red;
					}
					label {
						margin-bottom: 0px;
						p {
							margin-bottom: 0px;
						}
					}
				}
			}
			
		}

		.answers-container {
			background: #FFFFFF;
			box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.25);
			height: 100%;
			overflow-y: auto;
			padding: 0px 4px;
			width: 30%;
			.sheet {
				background-image: url("/bars.png");
				background-repeat: no-repeat;
				background-size: contain;
				display: flex;
				flex-direction: column;
				height: 100%;
				overflow: auto;
				padding: 25px 0px;
				width: 100%;
				.sheet-answers,
				.pagination {
					margin: auto;
				}
				.sheet-answers {
					margin-bottom: 32px;
					margin-top: 0px;
					width: 225px;
					.title-session {
						border-radius: 4px;
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
						font-weight: 700;				
						margin-bottom: 13px;
						padding: 6px 40px;
						text-align: center;
					}
				}

				.pagination {
					margin-top: auto;
					margin-bottom: 20px;
					padding: 0px 5px;
					width: 100%;
					display: flex;
					flex-direction: column;
					.pages {
						display: flex;
						justify-content: space-evenly;
						width: 100%;
						padding-left: 13px;
					}
					span {
						cursor: pointer;
						display: block;
						&:hover {
							text-decoration: underline;
						}
					}
					.selected-page {
						color: #941100;
						font-weight: 700;
						text-decoration-color: black;
						text-decoration: underline;
					}
				}
			}
		}
	}

	.card-answers {
		border-radius: 8px;
		border: 1px solid #941100;
		box-sizing: border-box;
		font-size: 14px;
		padding-top: 8px;
		.answers {
			align-items: center;
			color: #941100;
			display: flex;
			justify-content: space-around;
			padding: 4px 10px;
			span {
				line-height: 14px;
				text-align: center;
			}
			.question-number {
				width: 20px;
				cursor: pointer;
			}
			.ovoid {
				background-color: #F6EBEA;
				border-radius: 50%;
				border: 1px solid;
				cursor: pointer;
				width: 28px;
			}
			.selected-answer {
				background-color: #941100;
			}
			&-non {
				background-color: #D39D97;
				border-radius: 6px;
			}
		}
	}

	#break {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		.rest {
			font-size: 24px;
			line-height: 28,13px;
			margin-bottom: 20px !important;
		}
		.timer {
			font-size: 64px;
			font-weight: 700;
			line-height: 75px;
			margin-bottom: 74px !important;
			text-transform: uppercase;
		}
		.btn-skip {
			padding: 3px 120px !important;
		}
	}

	.retro {
		.bg-title {
			border-radius: 6px;
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 17px;
			padding: 7px 160px;
			text-align: center;
			width: 100%;
		}
	}	
	
	#init-retro {
		.btn-sec {
			padding: 5px 58px;
		}
	}

	#questions-index {
		.bg-title {
			width: 70%;
			margin: 40px auto;
			padding: 7px 0px;
		}
		.container-questions {
			width: 100%;
			display: flex;
			justify-content: space-around;			
			.col {
				margin-right: 40px;
				&:first-of-type {
					margin-left: 40px;
				}
				.row {
					margin-bottom: 45px;
					position: relative;
					cursor: pointer;
					&::after {
						content: "↓";
						position: absolute;
					    bottom: -50px;
					    text-align: center;
					    font-size: 35px;
					    right: 50%;
					}
					&:last-of-type {
						&::after { 
							content: "";
						}
					}
				}
			}
		}
		.btn-sec {
			float: right;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-right: 40px;
			margin-bottom: 40px;
		}
	}
	
	.btn-finish {
		margin: auto auto 50px auto;
		font-weight: 700;
		display: block;
		border-radius: 4px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding: 6px 70px;
		&:hover {
			background-color: #540100;
		}
	}

	.disabled:hover {
		background-color: #fff;
	}

}

@media screen and (min-width: 1600px) {
	#simulator {
		height: 92.4vh;
		.test-cases {
			height: 90% !important;
		}
  	}
}
