/* Estilos para los textos y títulos */
@import '@/assets/css/variables/color-palette.scss';

.title-lg {
  font-style: normal;
  font-weight: 750;
  font-size: 32px;
  line-height: 36px;
}

.title-sm {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.subtitle-sm {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.text-overflow {
  text-overflow: clip;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.header-lg {
  font-size: 25px;
  font-weight: 900;
}
.header-md {
  font-size: 22px;
  font-weight: 900;
}
.subheader-xl {
  font-size: 19px;
}
.subheader-lg {
  font-size: 14px;
}
.subheader-xs {
  font-size: 12px;
}
.text-lg-content {
  font-size: 14px;
}
.text-xs-content {
  font-size: 10px;
}
.font-weight-utra-bolder {
  font-weight: 900;
}

.main-color {
  color: #{$main-500};
}
.neutral-color {
  color: #{$neutral-500};
  &-600 {
    color: #{$neutral-600};
  }
}

.font-size{
  &-14px {
    font-size: 14px !important;
  }
}
