/* Estilos para los textos y títulos */

.title-lg {
  font-style: normal;
  font-weight: 750;
  font-size: 32px;
  line-height: 36px;
}

.title-sm {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}
