@font-face {
    font-family: Avenir;
    src: url("https://spotlightmed.s3-us-west-2.amazonaws.com/fonts/AvenirLTStd-Book.otf");
}

html, body {
	margin: 1rem;
	font-family: Avenir;
}

#print-div {
	height: auto !important;
}
