
// This table defines the theme colors (variant names)
$theme-colors: () !default;

$bg: #fbfdfe !default;

$neutral-50: #f8f8f8 !default;
$neutral-75: #f9f8f8 !default;
$neutral-100: #f3f3f0 !default;
$neutral-200: #e8e8e1 !default;
$neutral-300: #d4d4d1 !default;
$neutral-400: #bbbbb3 !default;
$neutral-500: #979797 !default;
$neutral-600: #858383 !default;
$neutral-700: #5b5b5b !default;
$neutral-800: #1d1d1b !default;
$neutral-900: #0e0e0e !default;
$neutral-1000: #000000 !default;
$neutral-00: #ffffff !default;
$neutral-900-90: #1d1d1be6 !default;
$neutral-900-80: #1d1d1bcc !default;
$neutral-900-70: #1d1d1bb3 !default;
$neutral-900-60: #1d1d1b99 !default;
$neutral-900-50: #1d1d1b80 !default;
$neutral-900-40: #1d1d1b66 !default;
$neutral-900-30: #1d1d1b4d !default;
$neutral-900-20: #1d1d1b33 !default;
$neutral-900-10: #1d1d1b1a !default;

// ------------------- main

$main-50: #fff8e2 !default;
$main-100: #fff2cc !default;
$main-200: #ffe099 !default;
$main-300: #ffcb66 !default;
$main-400: #ffb63f !default;
$main-500: #ff9300 !default;
$main-600: #db7500 !default;
$main-700: #b75a00 !default;
$main-800: #934200 !default;
$main-900: #7a3100 !default;
$main-500-90: #ff9300e6 !default;
$main-500-80: #ff9300cc !default;
$main-500-70: #ff9300b3 !default;
$main-500-60: #ff930099 !default;
$main-500-50: #ff930080 !default;
$main-500-40: #ff930066 !default;
$main-500-30: #ff93004d !default;
$main-500-20: #ff930033 !default;
$main-500-10: #ff93001a !default;

$error-50: #fff3ec !default;
$error-100: #ffe9db !default;
$error-200: #ffcdb8 !default;
$error-300: #ffab95 !default;
$error-400: #ff8c7a !default;
$error-500: #ff574f !default;
$error-600: #db393f !default;
$error-700: #b72739 !default;
$error-800: #931932 !default;
$error-900: #7a0f2e !default;
$error-500-90: #ff574fe6 !default;
$error-500-80: #ff574fcc !default;
$error-500-70: #ff574fb3 !default;
$error-500-60: #ff574f99 !default;
$error-500-50: #ff574f80 !default;
$error-500-40: #ff574f66 !default;
$error-500-30: #ff574f4d !default;
$error-500-20: #ff574f33 !default;
$error-500-10: #ff574f1a !default;

$warning-50: #fffce7 !default;
$warning-100: #fff9d3 !default;
$warning-200: #fff2a8 !default;
$warning-300: #ffe87c !default;
$warning-400: #ffdf5c !default;
$warning-500: #ffd026 !default;
$warning-600: #dbad1b !default;
$warning-700: #b78c13 !default;
$warning-800: #936d0c !default;
$warning-900: #7a5707 !default;
$warning-500-90: #ffd026e6 !default;
$warning-500-80: #ffd026cc !default;
$warning-500-70: #ffd026b3 !default;
$warning-500-60: #ffd02699 !default;
$warning-500-50: #ffd02680 !default;
$warning-500-40: #ffd02666 !default;
$warning-500-30: #ffd0264d !default;
$warning-500-20: #ffd02633 !default;
$warning-500-10: #ffd0261a !default;

$success-50: #fafff5 !default;
$success-100: #edfedf !default;
$success-200: #d7fdbf !default;
$success-300: #bbf99d !default;
$success-400: #9ff484 !default;
$success-500: #74ed5c !default;
$success-600: #4fcb43 !default;
$success-700: #2faa2e !default;
$success-800: #1d8924 !default;
$success-900: #11711f !default;
$success-600-90: #4fcb43e6 !default;
$success-600-80: #4fcb43cc !default;
$success-600-70: #4fcb43b3 !default;
$success-600-60: #4fcb4399 !default;
$success-600-50: #4fcb4380 !default;
$success-600-40: #4fcb4366 !default;
$success-600-30: #4fcb434d !default;
$success-600-20: #4fcb4333 !default;
$success-600-10: #4fcb431a !default;

$info-50: #f6f7ff !default;
$info-100: #e6eafe !default;
$info-200: #cdd4fe !default;
$info-300: #b3befd !default;
$info-400: #a0acfb !default;
$info-500: #818ff9 !default;
$info-600: #5e6ad6 !default;
$info-700: #414bb3 !default;
$info-800: #293190 !default;
$info-900: #181f77 !default;
$info-600-90: #5e6ad6e6 !default;
$info-600-80: #5e6ad6cc !default;
$info-600-70: #5e6ad6b3 !default;
$info-600-60: #5e6ad680 !default;
$info-600-50: #5e6ad666 !default;
$info-600-40: #5e6ad666 !default;
$info-600-30: #5e6ad64d !default;
$info-600-20: #5e6ad633 !default;
$info-600-10: #5e6ad61a !default;

$accent_a-50: #ffeef1 !default;
$accent_a-100: #ffd7de !default;
$accent_a-200: #ffafc5 !default;
$accent_a-300: #ff88b4 !default;
$accent_a-400: #ff6ab0 !default;
$accent_a-500: #ff39aa !default;
$accent_a-600: #db29a0 !default;
$accent_a-700: #b71c94 !default;
$accent_a-800: #931283 !default;
$accent_a-900: #7a0a77 !default;
$accent_a-500-90: #ff39aae6 !default;
$accent_a-500-80: #ff39aacc !default;
$accent_a-500-70: #ff39aab3 !default;
$accent_a-500-60: #ff39aa99 !default;
$accent_a-500-50: #ff39aa80 !default;
$accent_a-500-40: #ff39aa66 !default;
$accent_a-500-30: #ff39aa4d !default;
$accent_a-500-20: #ff39aa33 !default;
$accent_a-500-10: #ff39aa1a !default;

$accent_b-50: #f2feff !default;
$accent_b-100: #d9fafe !default;
$accent_b-200: #b4f1fd !default;
$accent_b-300: #8ee3fb !default;
$accent_b-400: #71d1f8 !default;
$accent_b-500: #43b6f4 !default;
$accent_b-600: #308fd1 !default;
$accent_b-700: #216caf !default;
$accent_b-800: #154c8d !default;
$accent_b-900: #0c3675 !default;
$accent_b-500-90: #43b6f4e6 !default;
$accent_b-500-80: #43b6f4cc !default;
$accent_b-500-70: #43b6f4b3 !default;
$accent_b-500-60: #43b6f499 !default;
$accent_b-500-50: #43b6f480 !default;
$accent_b-500-40: #43b6f466 !default;
$accent_b-500-30: #43b6f44d !default;
$accent_b-500-20: #43b6f433 !default;
$accent_b-500-10: #43b6f41a !default;
